@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
}

.main-wrapper {
  display: flex;
  max-width: 1440px;
  margin: auto;
  width: 100%;
  height: 900px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.main-wrapper .side-container {
  max-width: 50%;
}
.main-wrapper .left-side-container {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}
.main-wrapper .left-side-container .card {
  max-width: 100%;
  width: 447px;
  height: 245px;
  border-radius: 6px;
  position: relative;
}
.main-wrapper .left-side-container .purple-card {
  background-image: url(../images/bg-card-front.png);
  background-size: cover;
  margin-bottom: 30px;
  color: white;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}
.main-wrapper .left-side-container .purple-card-first {
  flex: 1;
}
.main-wrapper .left-side-container .purple-card-second {
  margin-bottom: 20px;
}
.main-wrapper .left-side-container .purple-card-third {
  display: flex;
}
.main-wrapper .left-side-container .purple-card-third .user-name {
  flex: 1;
}
.main-wrapper .left-side-container .purple-card-third-expiry {
  display: flex;
}
.main-wrapper .left-side-container .backside-card {
  background-image: url(../images/bg-card-back.png);
  display: flex;
  padding: 10px 60px 15px;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
}
.main-wrapper .left-side-container .backside-card .cvc-number {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.main-wrapper .right-side-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.main-wrapper .right-side-container .form {
  max-width: 350px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main-wrapper .right-side-container .form .input-container {
  display: flex;
  max-width: 350px;
  width: 100%;
  flex-direction: column;
}
.main-wrapper .right-side-container .form .input-container .input-title {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #462356;
}
.main-wrapper .right-side-container .form .input-container input {
  max-width: 350px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1.5px solid rgb(233, 233, 233);
  transition-duration: 0.2s;
}
.main-wrapper .right-side-container .form .input-container input:focus {
  transition-duration: 0.2s;
  outline: none;
  border-color: #462356;
}
.main-wrapper .right-side-container .form .bottom-form-container {
  display: flex;
  max-width: 350px;
  width: 100%;
}
.main-wrapper .right-side-container .form .bottom-form-container .input-container {
  margin-left: 10px;
}
.main-wrapper .right-side-container .form .bottom-form-container .type-two-container {
  max-width: 50%;
  display: flex;
  margin: 0;
}
.main-wrapper .right-side-container .form .bottom-form-container .type-two-container .double-input {
  display: flex;
}
.main-wrapper .right-side-container .form .bottom-form-container .type-two-container .double-input input {
  margin: 0px 5px 0px 0px;
}
.main-wrapper .right-side-container .form .error-message {
  color: rgb(197, 37, 37);
  font-size: 10px;
  margin: 5px auto 0px 0px;
}
.main-wrapper .right-side-container .button {
  margin-top: 10px;
  height: 40px;
  max-width: 350px;
  width: 100%;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #220930;
  cursor: pointer;
}
.main-wrapper .right-side-container .ty-page {
  height: 350px;
  margin: auto;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-wrapper .right-side-container .ty-page-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.main-wrapper .right-side-container .ty-page-text-container h1 {
  color: #462356;
}
.main-wrapper .right-side-container .ty-page-text-container h3 {
  color: #918f94;
  font-weight: 500;
}
.main-wrapper .right-side-container .ty-page img {
  max-width: 80px;
  width: 100%;
}

@media (max-width: 680px) {
  .main-wrapper {
    flex-direction: column;
    margin: 0;
    height: 100%;
  }
  .main-wrapper .left-side-container {
    flex-direction: column-reverse;
    height: 400px;
    background-image: url(../images/bg-main-mobile.png);
    background-size: cover;
  }
  .main-wrapper .left-side-container .card {
    width: 100%;
    max-width: 280px;
    height: 153px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }
  .main-wrapper .left-side-container .purple-card {
    margin: 150px 0 -30px 0px;
    left: 20px;
    padding: 20px;
  }
  .main-wrapper .left-side-container .purple-card-first img {
    max-width: 60px;
  }
  .main-wrapper .left-side-container .purple-card-second h1 {
    font-size: 20px;
  }
  .main-wrapper .left-side-container .purple-card-third .user-name {
    font-size: 14px;
  }
  .main-wrapper .left-side-container .purple-card-third-expiry {
    font-size: 14px;
  }
  .main-wrapper .left-side-container .backside-card {
    right: 20px;
    padding: 20px 35px;
  }
  .main-wrapper .left-side-container .backside-card .cvc-number {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .main-wrapper .side-container {
    max-width: 100%;
    border-radius: 0;
    padding: 0 10px;
  }
  .main-wrapper .right-side-container {
    padding-top: 10px;
  }
}/*# sourceMappingURL=index.css.map */